@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'); */

body{
    font-family: "Azeret Mono", monospace;
    margin: 0px;
    overflow: hidden; 
    cursor: wait;
    background-color: black;
    /* background-image: url('/images/page1.png'); */
    background-size: 100% 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    min-height: 100vh; 
    @media screen and (max-width: 425px){
        overflow: hidden;
    }
    
}